.navbar 
{
	background:#000 !important;
	margin-bottom: 0px;
    border-radius: 0px !important;
}

.navbar-inverse 
{
	border:0px !important;
}

body 
{	
	background: #000040 url("../images/asfalt-light.png") fixed !important;
    position: relative; 
}

.affix 
{
    top:0;
    width: 100%;
    z-index: 9999 !important;
}

.affix ~ .container-fluid 
{
    position: relative;
    top: 50px;
}

#section1 {padding-top:30px;padding-bottom:0px;height:auto;color: #fff;}
#section2 {padding-top:30px;padding-bottom:0px;height:auto;color: #fff;}
#section3 {padding-top:30px;padding-bottom:0px;height:auto;color: #fff;}
#section4 {padding-top:30px;padding-bottom:0px;height:auto;color: #fff;}
#section5 {padding-top:0px;padding-bottom:300px;height:auto;color: #fff;}

h1
{
	font-weight:100 !important;
	color: #4169E1;
}

.myLabel
{
	font-size:18px !important;
	font-weight:100 !important;
}

#profilePhoto
{
	width:150px;
	height:180px;
	background:#333;
	-webkit-box-shadow: 0 0 5px 2px #000;
    -moz-box-shadow: 0 0 5px 2px #000;
    box-shadow: 0 0 5px 2px #000;
}

#datePicker
{
	border-radius: 4px;
}

.btn .btn-default
{
	margin: auto !important;
}

.radio
{
	margin-top: 4px !important;
}

#genderLabel
{
	font-size: 18px !important;
	font-weight:100 !important;
	padding-left: 0px !important;
}

#homeh31
{
	margin-top: 0px !important;
}

.homeh31
{
	color:#005;
}

#mainHeader
{
	font-size: 50px !important;
}

#message { 
    background: rgba(255,255,255,0.5);
    padding: 10px !important;
    color: #005 !important;
    text-align: center;
}

#loginForm, #homeBgDiv { 
    background: rgba(255,255,255,0.5);
    padding: 20px !important;
    color: #005 !important;
}

#loginForm a:link, #loginForm a:visited {
	text-decoration: none !important;
	color: #005 !important;
}

#loginForm a:hover, #loginForm a:active {
	color: #00f !important;	
}

#loginForm .btn {
	background: #005 !important;
	border: 1px solid #005;
}

#loginForm .btn:hover{
	background: #00f !important;
	border: 1px solid #00f;
}

#homeBgDiv { 
    -webkit-box-shadow: 0 0 5px 2px #000;
    -moz-box-shadow: 0 0 5px 2px #000;
    box-shadow: 0 0 5px 2px #000;
}

